<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{admin/_fragments :: head(~{::title})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/lib/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/me.css">
    <title>Blog</title>
</head>

<body>

    <div style="m-container-small m-padded-tb-big">
        <div class="ui container ">
            <div class="ui middle aligned center aligned grid">
                <div class="column center">
                    <h2 class="ui teal image header">
                        <img src="../../static/images/logo.png" th:src="@{/images/logo.png}" class="image">
                        <div class="content">
                            Login to admin
                        </div>
                    </h2>
                    <form class="ui large form" method="post" action="#" th:action="@{/admin/login}" autocomplete="off">
                        <div class="ui stacked segment">
                            <div class="required field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" placeholder="E-mail address">
                                </div>
                            </div>
                            <div class="required field">
                                <div class="required field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <button class="ui fluid large teal submit button">登录</button>
                            </div>

                            <div class="ui error message"></div>
                            <div class="ui mini negative message" th:unless="${!#strings.isEmpty(message)}" th:text="${message}"></div>
                        </div>
                    </form>

                    <div class="ui message">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="~{admin/_fragments :: common-script}"></div>

<script>
       $('.ui.form').form({
            fields:{
                username:{
                    identifier: 'username',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入用户名'
                    }]
                },
                password:{
                    identifier: 'password',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入密码'
                    }]
                }
            }
        });

</script>
</body>

</html>